.updatenode__controls {
  position: absolute;
  right: 57px;
  top: 57px;
  z-index: 4;
  background-color: white;
}
.updatenode__btn {
  position: absolute;
  right: 57px;
  top: 16px;
  z-index: 4;
}
